@layer components {
    .main {
        display: block;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2vmin;
        border-radius: 1vmin;
        background-color: var(--bg);
        width: 80%;
        height: calc(100% - 24vmin);
        overflow-y: scroll;
    }

    .main.containerView {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20vmin, 1fr));
        grid-gap: 2vmin;
        overflow-y: auto;
    }

    .main::-webkit-scrollbar {
        width: 1vmin;
    }

    .main::-webkit-scrollbar-thumb {
        background-color: #007bff;
        border-radius: 1vmin;
    }

    .main::-webkit-scrollbar-thumb:hover {
        background-color: #0056b3;
    }

    .main::-webkit-scrollbar-track {
        background-color: #f8f9fa;
        border-radius: 1vmin;
    }

    #topnav {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 8vmin);
        padding: 1vmin 4vmin;
        background-color: var(--bg);
        border-bottom-left-radius: .5vmin;
        border-bottom-right-radius: .5vmin;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #topnav #createContainerButton {
        border: none;
        border-radius: 2vmin;
        background-color: #007bff;
        font-size: 3vmin;
        width: 4vmin;
        height: 4vmin;
        text-align: center;
        line-height: 4vmin;
        cursor: pointer;
    }

    #topnav #createContainerButton span {
        font-size: 3vmin;
        width: 4vmin;
        height: 4vmin;
        text-align: center;
        line-height: 4vmin;
        color: white;
    }

    #topnav #createContainerButton img {
        display: none;
        width: 2.25vmin;
        height: 2.25vmin;
        animation: loadingSpin 2s linear infinite;
    }

    @keyframes loadingSpin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #topnav #searchInput {
        padding: .5vmin 2vmin;
        border: none;
        border-radius: 1vmin;
        background-color: #f8f9fa;
        font-size: 2vmin;
    }

    #topnav #searchInput:focus {
        outline: none;
        background-color: #e9ecef;
    }

    #topnav #accessButton {
        border: none;
        border-radius: 1vmin;
        background-color: #007bff;
        color: white;
        font-size: 2vmin;
        padding: 1vmin 2vmin;
        cursor: pointer;
    }

    #topnav #accessButton.logout {
        background-color: #dc3545;
    }

    #topnav #createContainerButton:hover,
    #topnav #accessButton:hover {
        filter: brightness(80%);
    }

    #topnav #createContainerButton:active,
    #topnav #accessButton:active {
        filter: brightness(60%);
    }
}
