<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{{.Title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 min-h-screen flex items-center justify-center">
    {{if .Error}}
    <div class="w-full max-w-2xl p-6 bg-white rounded-xl shadow-md">
        <h1 class="text-3xl font-bold mb-4">A Critical Error Occurred:</h1>
        <p class="bg-red-100 text-red-700 p-2 rounded mb-4">
            {{.Error}}
        </p>
    </div>
    {{else}}
    {{embed}}
    {{end}}
</body>

</html>