[web_server]
    address = ":8080"
    tls_dir = ""
    reload_templates_on_each_render = false
    redirect_server_addresses = []

[database]
    file = "koth.db"

[ldap]
    address = "ldaps://domain.example.com:636"
    domain_sld = "example"
    domain_tld = "com"
    accounts_cn = "accounts"
    users_cn = "users"
    groups_cn = "groups"
    admin_groups = ["admins", "koth-admins"]
    user_groups = ["koth-users"]

[proxmox]
    hostname = "proxmox.example.com"
    port = "8006"
    token_id = "root@pam!koth-api-token"
    secret = "secret-goes-here"
    [proxmox.testing]
        enabled = false
        subnet_cidr = "10.255.0.0/26"
        storage = "team"
        ubuntu_template = "isos-ct_templates:vztmpl/ubuntu-25.04-standard_25.04-1.1_amd64.tar.zst"
        gateway = "10.0.0.1"
        dns = "10.0.0.2"
        search_domain = "example.com"

[storage]
    base_path = "./koth_live_data"

[network]
    pool_cidr = "10.128.0.0/11"
    competition_subnet_prefix = 16
    team_subnet_prefix = 24
    container_cidr = 8